{% extends "layout.html" %}
{% block title %} Your Profile {% endblock %}
{% load static from staticfiles %}
{% block content %}
    <div id="home-page">
        <div class="container">
            <div class="row">
                <!-- profile info section starts here-->
                <div class="col-sm-6" style="margin: 0 auto; float: none"><!--left col-->
                    <div class="align-center">
                        {% if profile_data.profile_photo == '' %}
                            <img src="{% static "normaluser/images/avatar_2x.png" %}" class="user-profile-img img-fluid img-thumbnail" alt="avatar">
                        {% else %}
                            <img src="{% static profile_data.profile_photo.url %}"  class="user-profile-img img-fluid img-thumbnail" alt="avatar">
                        {% endif %}
                        <form enctype="multipart/form-data" method="post" action="{% url 'normaluser:upload_profile_image' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next_url" value="{{ request.path }}">
                            {% for field in image_form %}
                                {% if field.errors %}
                                    <div class="form-group has-error has-feedback">
                                        <label class="control-label">{{ field.label }}</label>
                                        <div class="controls">{{ field }}
                                            <span class="help-block">
                                                {% for error in  field.errors %}{{ error }}{% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="input-group col-xs-8 align-center" style="margin-bottom: 10px; margin-top: 10px;">
                                            {{ field }}
                                            {% if field.help_text %}
                                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                            {% endif %}
                                            <span class="input-group-btn">
                                               <button type="submit" class="form-control btn btn-primary">Upload photo</button>
                                            </span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                    </hr>
                    <div class="profile-info" style="padding: 10px;">
                            <form class="form" action="{% url 'normaluser:update_profile' %}" method="post" id="profileUpdateForm">
                                {% csrf_token %}
                                {% for field in user_form %}
                                    {% if field.errors %}
                                        <div class="form-group has-error has-feedback">
                                            <label class="control-label">{{ field.label }}</label>
                                            <div class="controls">{{ field }}
                                                <span class="help-block">
                                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                                </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label class="control-label">{{ field.label }} *</label>
                                            <div class="controls">{{ field }}
                                                {% if field.help_text %}
                                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                {% for field in user_form.non_field_errors %}
                                    <div class="form-group has-error has-feedback">
                                        <div class="controls">
                                            <span class="help-block">
                                                {{ field }}
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% for field in profile_form %}
                                    {% if field.errors %}
                                        <div class="form-group has-error has-feedback">
                                            <label class="control-label">{{ field.label }}</label>
                                            <div class="controls">{{ field }}
                                                <span class="help-block">
                                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                                </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if field.label is 'Gender' %}
                                            <label class="radio-inline"><input type="radio" name="optradio" checked>Option 1</label>
                                        {% else %}
                                            <div class="form-group">
                                                <label class="control-label">{{ field.label }}</label>
                                                <div class="controls">{{ field }}
                                                    {% if field.help_text %}
                                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group">
                                    <label class="control-label">Date of birth</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <select class="form-control" name="day" id="day">
                                                <option value="">Day</option>
                                                {% for day in days %}
                                                    {% if birth_day == day %}
                                                        <option selected="selected" value="{{ day }}">{{ day }}</option>
                                                    {% else %}
                                                        <option value="{{ day }}">{{ day }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </span>
                                        <span class="input-group-btn">
                                            <select class="form-control" name="month" id="month">
                                                <option value="">Month</option>
                                                {% for month in months %}
                                                    {% if birth_month == month %}
                                                        <option selected="selected" value="{{ month }}">{{ month }}</option>
                                                    {% else %}
                                                        <option value="{{ month }}">{{ month }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </span>
                                        <span class="input-group-btn">
                                            <select class="form-control" name="year" id="year">
                                                <option value="">Year</option>
                                                {% for year in years %}
                                                    {% if birth_year == year %}
                                                        <option selected="selected" value="{{ year }}">{{ year }}</option>
                                                    {% else %}
                                                        <option value="{{ year }}">{{ year }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>

                    </div>
                </div>
                <!-- profile info section ends here-->



            </div>

        </div>
    </div>
{% endblock %}