{% load static from staticfiles %}
<ul class="comments_list">
    {% for each in comments %}
    <li id="comment_li_{{ each.id }}">
        <div class="image_of_comment_user">
            {% if each.user.normaluser.profile_photo == '' %}
                <img src="{% static "normaluser/images/avatar_2x.png" %}" alt="avatar">
            {% else %}
                <img src="{% static each.user.normaluser.profile_photo.url %}" alt="avatar">
            {% endif %}
            <span class="username_text">
                {% if each.user.id == user.id %}
                    {{ each.user.first_name }} {{ each.user.last_name }}
                {% else %}
                    <a href="{% url 'normaluser:other' each.user  %}">
                        {{ each.user.first_name }} {{ each.user.last_name }}
                    </a>
                {% endif %}
            </span>
            {% now "Y-m-d" as todays_date %}
            {% if each.created_at|date:"Y-m-d" == todays_date %}
                <span class="date_time_text">{{ each.created_at|timesince }} ago</span>
            {% else %}
                <span class="date_time_text">on {{ post.created_at|date:"D d M Y" }}</span>
            {% endif %}
        </div>
        <div class="comment_text">
            <p id="comment_area_{{ each.id }}" style="float: left;">
                {{ each.comment_text }}
            </p>
            {% if user.id == post.user_id or request.user.id == each.user_id %}
            <span style="float: right;">
                <a href="javascript:void(0)" data-toggle="popover" data-placement="bottom" data-toggle="popover" data-post_id="{{ each.id }}">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </span>
            {% endif %}
            <div id="popover-content-{{ each.id }}" style="display: none">
                <ul class="list-group custom-popover">
                    {% if request.user.id == each.user_id %}
                        <li class="list-group-item"><a class="edit_comment_event" data-comment_id="{{ each.id }}">Edit</a></li>
                    {% endif %}
                    <li class="list-group-item">
                        <a
                                class="delete_comment"
                                data-post_id="{{ each.post.id }}"
                                data-comment_id="{{ each.id }}">Delete
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>