{% extends "layout.html" %}
{% block title %} {{ page_name }} {% endblock %}
{% load static from staticfiles %}
{% block static %}
    <script src="{% static '/home/js/home.js' %}"></script>
{% endblock %}
{% block content %}
<div id="status-view-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 friends" style="margin-top: 20px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% for field in status_text_form %}
                                {% if field.errors %}
                                    <div class="form-group error">
                                        <div class="controls">{{ field }}
                                            <span class="help-inline">
                                                {% for error in  field.errors %}{{ error }}{% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <div class="controls">{{ field }}
                                            {% if field.help_text %}
                                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for field in status_text_form.non_field_errors %}
                                <div class="form-group has-error has-feedback">
                                    <div class="controls">
                                        <span class="help-block">
                                            {{ field }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-info">Post update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}