.idea/workspace.xml
bwa2018djangoproject/__pycache__/settings.cpython-37.pyc
bwa2018djangoproject/__pycache__/urls.cpython-37.pyc
friends/__pycache__/models.cpython-37.pyc
friends/migrations/__pycache__/0001_initial.cpython-37.pyc
normaluser/__pycache__/forms.cpython-37.pyc
normaluser/__pycache__/models.cpython-37.pyc
normaluser/__pycache__/urls.cpython-37.pyc
normaluser/__pycache__/views.cpython-37.pyc
friends/__pycache__/urls.cpython-37.pyc
friends/__pycache__/views.cpython-37.pyc
friends/migrations/0001_initial.py
friends/migrations/0002_friend_dog_name.py
friends/migrations/__pycache__/0002_friend_dog_name.cpython-37.pyc
normaluser/migrations/0002_normaluser_gender.py
normaluser/migrations/__pycache__/0002_normaluser_gender.cpython-37.pyc
.idea/dataSources.local.xml
.idea/dataSources/
bwa2018djangoproject/static/images/profile_image/my-scan-image_eW4YOZg.jpg
friends/__pycache__/forms.cpython-37.pyc
home/__pycache__/forms.cpython-37.pyc
home/migrations/__pycache__/0001_initial.cpython-37.pyc
normaluser/migrations/__pycache__/0003_auto_20181104_2341.cpython-37.pyc
normaluser/migrations/__pycache__/0004_normaluser_email_validation_code.cpython-37.pyc
normaluser/migrations/__pycache__/0005_auto_20181118_1306.cpython-37.pyc
normaluser/migrations/__pycache__/0006_auto_20181118_1321.cpython-37.pyc
notification/__pycache__/context_processors.cpython-37.pyc
notification/__pycache__/urls.cpython-37.pyc
notification/__pycache__/views.cpython-37.pyc
temp.txt
.idea/workspace.xml
bwa2018djangoproject/__pycache__/settings.cpython-37.pyc
bwa2018djangoproject/__pycache__/urls.cpython-37.pyc
bwa2018djangoproject/__pycache__/views.cpython-37.pyc
friends/__pycache__/models.cpython-37.pyc
friends/migrations/__pycache__/0001_initial.cpython-37.pyc
home/__pycache__/admin.cpython-37.pyc
home/__pycache__/models.cpython-37.pyc
home/__pycache__/urls.cpython-37.pyc
home/__pycache__/views.cpython-37.pyc
normaluser/__pycache__/forms.cpython-37.pyc
normaluser/__pycache__/models.cpython-37.pyc
normaluser/__pycache__/urls.cpython-37.pyc
normaluser/__pycache__/views.cpython-37.pyc
notification/__pycache__/models.cpython-37.pyc
notification/migrations/__pycache__/0001_initial.cpython-37.pyc
bwa2018djangoproject/__pycache__/
discussion/__pycache__/
discussion/migrations/__pycache__/
friends/__pycache__/
friends/migrations/__pycache__/
home/__pycache__/
home/migrations/__pycache__/
normaluser/__pycache__/
normaluser/migrations/__pycache__/
notification/__pycache__/models.cpython-37.pyc
notification/migrations/__pycache__/0001_initial.cpython-37.pyc
.idea/workspace.xml
notification/__pycache__/models.cpython-37.pyc
notification/migrations/__pycache__/0001_initial.cpython-37.pyc




