{% extends "frontend.html" %}
{% block title %} Password reset emai sent {% endblock %}
{% block content %}
    <section id="password_reset_email_confirmation" class="outer-wrapper">
        <div class="inner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron">
                            <h1>Hi {{ first_name }} {{ last_name }},</h1>
                            <p class="lead">Please check your email for a message with a password reset link.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}